
.kitteh-shop {
    margin-bottom: 250px;
    .-kitteh {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        .img-cover {
            display: inline-block;
            width: 40%;
            max-width: 150px;
            margin-right: 30px;
            flex: 0 0 auto;
        }
        .-text {
            display: inline-block;
            margin-top: -3px;
            width: 100%;
            flex: 0 1 auto;
        }
        .add-to-cart {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.add-to-cart {
    display: flex;
    .-minus, .-plus, .-qty {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        height: 40px;
        p {
            display: inline-block;
            margin: 0;
        }
    }
    .-minus, .-plus {
        margin-right: 5px;
        width: 40px;
        border-radius: 99px;
        cursor: pointer;
        transition: background-color 0.2s linear;
        user-select: none;
        &:hover {
            background-color: rgba(0,0,0,0.05);
        }
    }
    .-qty {
        width: 60px;
    }
}

