
$orange-bg: #b97858;
$orange-bg-hover: darken($orange-bg, 10%);

.pop-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    transition: height 0.4s ease;
    .-summary {
        background-color: $orange-bg;
        transition: background-color 0.3s linear;
        height: 60px;
        .center-frame {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            cursor: pointer;
            user-select: none;
            p {
                color: #fff;
                margin: 0;
            }
            .-left, .-checkout-link {
                width: 120px;
            }
            .-count {
                text-align: center;
                padding: 11px;
            }
            .-checkout-link {
                display: inline-flex;
                justify-content: flex-end;
                a {
                    border: 1px solid #fff;
                    border-radius: 99px;
                    padding: 10px 20px;
                    color: #fff;
                    text-decoration: none;
                    background-color: $orange-bg;
                    &:hover {
                        background-color: $orange-bg-hover;
                    }
                }
            }
        }
        &:hover {
            background-color: $orange-bg-hover;
        }
    }
    .-cart-details {
        background-color: #fff;
        box-shadow: 0 -5px 15px rgba(0,0,0,0.05);
        .center-frame {
            h4 {
                padding: 19px 0;
                margin: 0;
            }
            .-kittehs {
                h3, p {
                    margin: 0;
                }
                .-kitteh {
                    padding: 0 0 20px;
                    display: flex;
                    align-items: center;
                    .img-cover {
                        display: inline-block;
                        width: 10%;
                        max-width: 90px;
                        height: 90px;
                        margin-right: 30px;
                        flex: 0 0 auto;
                    }
                    .-name {
                        flex: 0 1 auto;
                        width: 100%;
                        display: inline-block;
                    }
                    .-price {
                        flex: 0 0 auto;
                        width: 100px;
                        display: inline-block;
                        text-align: right;
                        padding-right: 20px;
                        p {
                            color: #aaa;
                        }
                    }
                    .-qty-control {
                        flex: 0 0 auto;
                        width: 155px;
                        display: inline-block;
                    }
                    .-line-total {
                        flex: 0 0 auto;
                        width: 100px;
                        display: inline-block;
                        text-align: right;
                    }
                }
            }
        }
    }
}