<template>
    <div class="kitteh-shop">
        <div v-for="kitteh in allKittehs" class="-kitteh">
            <div class="img-cover"
                 :style="{'background-image':'url('+kitteh.img_sm+')'}">
                 <div class="-square"></div>
            </div>
            <div class="-text">
                <h2>{{ kitteh.name }}</h2>
                <p>{{ kitteh.description }}</p>
                <p>${{ (kitteh.price / 100).toFixed(2) }}</p>
                <div class="add-to-cart">
                    <div class="-minus" @click="adjustKittehQty({id: kitteh.id, inc: -1})"><p>-</p></div>
                    <div class="-plus" @click="adjustKittehQty({id: kitteh.id, inc: 1})"><p>+</p></div>
                    <div class="-qty"><p>{{ kittehQty(kitteh.id) }}</p></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    data() {
        return {
        };
    },
    props: {
    },
    created() {
        this.fetchKittehs();
    },
    mounted() {
    },
    methods: {
        ...mapActions([
            'fetchKittehs',
            'adjustKittehQty',
        ]),
    },
    computed: {
        ...mapGetters([
            'kittehQty',
            'allKittehs',
        ]),
    }
}
</script>