<template>
    <div class="pop-cart" 
         :class="{'-open':isOpen}">
        <div class="-cart-details" v-if="isOpen">
            <div class="center-frame">
                <h4>Order Summary</h4>
                <div class="-kittehs" v-if="isOpen">
                    <div v-for="cartKitteh in allCartKittehs" class="-kitteh">
                        <div class="img-cover"
                            :style="{'background-image':'url('+kittehsById[cartKitteh.kitten_id].img_sm+')'}">
                            <div class="-square"></div>
                        </div>
                        <div class="-name">
                            <h3>{{ kittehsById[cartKitteh.kitten_id].name }}</h3>
                        </div>
                        <div class="-price">
                            <p>${{ (kittehsById[cartKitteh.kitten_id].price / 100).toFixed(2) }}</p>
                        </div>
                        <div class="-qty-control">
                            <div class="add-to-cart">
                                <div class="-minus" @click="adjustQty({cartKittehId: cartKitteh.id, inc: -1})"><p>-</p></div>
                                <div class="-plus" @click="adjustQty({cartKittehId: cartKitteh.id, inc: 1})"><p>+</p></div>
                                <div class="-qty"><p>{{ cartKitteh.qty }}</p></div>
                            </div>
                        </div>
                        <div class="-line-total">
                            <p>${{ (kittehsById[cartKitteh.kitten_id].price * cartKitteh.qty / 100).toFixed(2) }}</p>
                        </div>
                        <div class="-text">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="-summary" 
             @click="isOpen = ! isOpen">
            <div class="center-frame">
                <div class="-left"></div>
                <div class="-count">
                    <p>{{ allCartKittehs.length }} items</p>
                </div>
                <div class="-checkout-link">
                    <a href="#">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            isOpen: false,
        };
    },
    props: {
    },
    created() {
        this.fetchCartKittehs();
    },
    mounted() {
    },
    methods: {
        ...mapActions([
            'fetchCartKittehs',
            'adjustQty',
        ]),
    },
    computed: {
        ...mapGetters([
            'allCartKittehs',
            'kittehsById',
            // https://vuex.vuejs.org/guide/state.html
        ]),
    },
}
</script>