

@mixin at-phone {
    @media (max-width: $phone-max-width) {
        @content;
    }
}
@mixin not-phone {
    @media (min-width: $tablet-min-width) {
        @content;
    }
}
@mixin at-tablet {
    /* does not include phone */
    @media (min-width: $tablet-min-width) and (max-width: $tablet-min-width) {
        @content;
    }
}
@mixin at-desktop {
    /* does not include tablet */
    @media (min-width: $desktop-min-width) {
        @content;
    }
}
@mixin not-desktop {
    /* includes tablet */
    @media (max-width: $tablet-max-width) {
        @content;
    }
}
@mixin at-mobile {
    /* includes tablet */
    @media (max-width: $tablet-max-width) {
        @content;
    }
}



