

@function theme($key, $theme) {
    @if map-has-key(map-get($colors, $theme), $key) {
        @return map-get(map-get($colors, $theme), $key);
    }
    @warn "Unknown `#{$key}` in #{$theme}-theme.";
    @return #f00;
}
@function light-theme($key) {
    @return theme($key, 'light');
}
@function dark-theme($key) {
    @return theme($key, 'dark');
}

@mixin is-light-theme {
    @media (prefers-color-scheme: light) {
        @content;
    }
}
@mixin is-dark-theme {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}
@mixin set-by-theme($prop, $colorKey) {
    @include is-light-theme {
        #{$prop}: light-theme($colorKey);
    }
    @include is-dark-theme {
        #{$prop}: dark-theme($colorKey);
    }
}


@mixin body-bg-color {
    @include set-by-theme(background-color, 'body-bg-color');
}
@mixin alt-scheme-bg-color {
    @include is-light-theme {
        background-color: light-theme('alt-scheme-bg-color');
    }
    @include is-dark-theme {
        background-color: dark-theme('alt-scheme-bg-color');
    }
}


@mixin font-color-1 {
    @include is-light-theme {
        color: light-theme('text-color-1');
        .alt-scheme & {
            color: light-theme('alt-scheme-text-color-1');
        }
    }
    @include is-dark-theme {
        color: dark-theme('text-color-1');
        .alt-scheme & {
            color: dark-theme('alt-scheme-text-color-1');
        }
    }
}

@mixin font-color-2 {
    @include is-light-theme {
        color: light-theme('text-color-2');
        .alt-scheme & {
            color: light-theme('alt-scheme-text-color-2');
        }
    }
    @include is-dark-theme {
        color: dark-theme('text-color-2');
        .alt-scheme & {
            color: dark-theme('alt-scheme-text-color-2');
        }
    }
}


