


@mixin affinity-black-row($screen, $dark-bg, $light-bg) {
    .-content {
        .-bg {
            // background-image: url($screen);
        }
        &:after {
            @include is-dark-theme {
                background-color: $dark-bg;
            }
            @include is-light-theme {
                background-color: $light-bg;
            }
        }
    }
}

