



@mixin bg-mountain {
    @include affinity-black-row('/img/content-bg/mountain.jpg', rgba(0,0,0,0.7), rgba(240,240,240,0.7));
}
@mixin bg-premax {
    @include affinity-black-row('/img/content-bg/premax.jpg', rgba(0,0,0,0.5), rgba(255,255,255,0.8));
}
@mixin bg-visy {
    @include affinity-black-row('/img/content-bg/visy2.jpg', rgba(0,0,0,0.6), rgba(240,255,255,0.9));
}


@mixin custom-ease {
    animation-timing-function: cubic-bezier(.59,.08,.4,.9);
}
@mixin hamber-dip-height {
    height: 70px;
}
@include keyframes(extend-height1) {
    0% {
        height: 100px;
    }
    43% {
        height: 100px;
        @include custom-ease;
    }
    49% {
        @include hamber-dip-height;
        @include custom-ease;
    }
    55% {
        height: 100px;
        @include custom-ease;
    }
    100% {
        height: 100px;
    }
}
@include keyframes(extend-height2) {
    0% {
        height: 100px;
    }
    44% {
        height: 100px;
        @include custom-ease;
    }
    50% {
        @include hamber-dip-height;
        @include custom-ease;
    }
    56% {
        height: 100px;
        @include custom-ease;
    }
    100% {
        height: 100px;
    }
}
@include keyframes(extend-height3) {
    0% {
        height: 100px;
    }
    45% {
        height: 100px;
        @include custom-ease;
    }
    51% {
        @include hamber-dip-height;
        @include custom-ease;
    }
    57% {
        height: 100px;
        @include custom-ease;
    }
    100% {
        height: 100px;
    }
}
@mixin extend-height($i) {
    @include animate(extend-height#{$i}, 4s, infinite, alternate);
}




