
@mixin font-weights($light-theme-weight, $light-theme-weight-alt, $dark-theme-weight, $dark-theme-weight-alt) {
    @include is-light-theme {
        font-weight: $light-theme-weight;
        .alt-scheme & {
            font-weight: $light-theme-weight-alt;
        }
    }
    @include is-dark-theme {
        font-weight: $dark-theme-weight;
        .alt-scheme & {
            font-weight: $dark-theme-weight-alt;
        }
    }
}
@mixin heading-font-1 {
    @include font-weights(300, 300, 300, 300);
    font-family: 'Merriweather', cursive;
    line-height: 1.3;
}
@mixin heading-font-2 {
    @include font-weights(300, 300, 300, 300);
    font-family: 'Merriweather', cursive;
    line-height: 1.4;
}
@mixin body-font-normal {
    @include font-weights(400, 400, 300, 300);
    font-family: 'Merriweather', cursive;
    line-height: 1.5;
}
@mixin body-font-bold {
    @include font-weights(900, 900, 900, 900);
    font-family: 'Merriweather', cursive;
}


@mixin h1($with-margins: false) {
    @include heading-font-1;
    @include font-color-1;
    font-size: 50px;
    line-height: 1.4;
    @if ($with-margins) {
        margin: -5px 0 20px;
    }
    @include at-tablet {
        font-size: 45px;
    }
    @include at-phone {
        font-size: 40px;
    }
}
@mixin h2($with-margins: false) {
    @include heading-font-2;
    @include font-color-2;
    font-size: 30px;
    @if ($with-margins) {
        margin: -4px 0 15px;
    }
    @include at-tablet {
        font-size: 28px;
    }
    @include at-phone {
        font-size: 25px;
    }
}
@mixin h3-large($with-margins: false) {
    @include body-font-normal;
    @include font-color-1;
    font-size: 28px;
    @if ($with-margins) {
        margin: -3px 0 8px;
    }
    @include at-phone {
        font-size: 20px;
    }
}
@mixin h3($with-margins: false) {
    @include body-font-normal;
    @include font-color-1;
    font-size: 21px;
    @if ($with-margins) {
        margin: -3px 0 8px;
    }
    @include at-phone {
        font-size: 14px;
    }
}
@mixin h4($with-margins: false) {
    @include body-font-normal;
    @include font-color-1;
    font-size: 17px;
    @if ($with-margins) {
        margin: -1px 0 4px;
    }
    @include at-phone {
        font-size: 13px;
    }
}
@mixin h5($with-margins: false) {
    @include body-font-normal;
    @include font-color-1;
    font-size: 15px;
    @if ($with-margins) {
        margin: -1px 0 4px;
    }
}
@mixin p($with-margins: false) {
    @include body-font-normal;
    @include font-color-1;
    font-size: 15px;
    @if ($with-margins) {
        margin: 0 0 12px;
    }
    @include at-tablet {
        font-size: 14px;
        @if ($with-margins) {
            margin: 0 0 11px;
        }
    }
    @include at-phone {
        font-size: 13px;
        @if ($with-margins) {
            margin: 0 0 9px;
        }
    }
}




@mixin link($color, $color-hover) {
    transition: color 0.2s linear;
    &, &:link, &visited {
        color: $color;
    }
    &:hover, &:active {
        color: $color-hover;
    }
}


