
body {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


@mixin space-between {
    display: flex;
    justify-content: space-between;
}
.space-between {
    @include space-between;
}
@mixin flex-child($width: auto, $grow: 0, $shrink: 0) {
    display: inline-block;
    flex: $grow $shrink auto;
    width: $width;
}


@mixin border-box($width: 100%) {
    width: $width;
    box-sizing: border-box;
}

@mixin fontawe($weight: 300) {
    font-family: 'Font Awesome 5 Pro';
    font-weight: $weight;
}
/*
usage:
    &:after {
        @include fontawe;
        content: fa-content($fa-var-chevron-down);
    }
 */

@mixin boxsize($sizing: border-box) {
    -webkit-box-sizing: $sizing; /* For legacy WebKit based browsers */
    -moz-box-sizing: $sizing; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: $sizing;
}


@mixin spacer($height: 80px) {
    width: 100%;
    clear: both;
    height: $height;
}
.spacer {
    @include spacer;
}


.text-center {
    text-align: center;
}


@mixin removeSelectCaret {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: none;
}


@mixin img-cover-contain {
    background-position: center;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    .-portrait {
        margin-top: 120%;
    }
    .-square {
        margin-top: 100%;
    }
    .-landscape {
        margin-top: 52%;
    }
    .-wide {
        margin-top: 44%;
    }
}
@mixin img-cover {
    @include img-cover-contain;
    background-size: cover;
}
@mixin img-contain {
    @include img-cover-contain;
    background-size: contain;
}
.img-cover {
    @include img-cover;
}
.img-contain {
    @include img-contain;
}

.opacity-0 {
    opacity: 0;
}


$inputs: '[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], select, textarea';
$text-els: 'h1, h2, h3, h4, h5, p, li, td, th';
$p-els: 'p, li, td, th';

@mixin scrollY {
    overflow-y: scroll;
    overflow-x: visible;
    &::-webkit-scrollbar {
        width: 6px;
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(90, 90, 90, 0);
        border-radius: 8px;
    }
}


@mixin hover-color($default, $hover: null) {
    &, &:link, &:visited {
        color: $default;
    }
    &:hover, &:active {
        @if ($hover == null) {
            color: $default;
        } @else {
            color: $hover;
        }
    }
}


@mixin margin-x($val: auto) {
    margin-left: $val;
    margin-right: $val;
}
@mixin padding-x($val: auto) {
    padding-left: $val;
    padding-right: $val;
}




@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animate($name, $duration, $iteration-count, $direction) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration-count;
       -moz-animation-iteration-count: $iteration-count;
         -o-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
    -webkit-animation-direction: $direction;
       -moz-animation-direction: $direction;
         -o-animation-direction: $direction;
            animation-direction: $direction;
}