
$center-frame-width-decimal: 0.95;
$center-frame-max-width: 1600px;

$center-frame-stop-breakpoint: ($center-frame-max-width / $center-frame-width-decimal); /* px */

/* pre max-width */
$center-frame-width: ($center-frame-width-decimal * 100%); /* percentage */
$center-frame-width-vw: ($center-frame-width-decimal * 100vw);
$center-frame-side-pad-vw: ((100vw - $center-frame-width-vw) /2);

/* post max-width */
$side-margins-post-max-width-calc: calc(50vw - #{$center-frame-max-width / 2});

@mixin at-max-width {
    @media (min-width: #{$center-frame-stop-breakpoint}) {
        @content;
    }
}
@mixin center-frame-pad($padding-property) {
    #{$padding-property}: $center-frame-side-pad-vw;
    @media (min-width: #{$center-frame-stop-breakpoint}) {
        #{$padding-property}: $side-margins-post-max-width-calc;
    }
}
@mixin side-slide-width($content-width) {
    width: calc(#{$content-width} + #{$center-frame-side-pad-vw});
    @media (min-width: #{$center-frame-stop-breakpoint}) {

    }
}

@mixin center-frame {
    width: $center-frame-width;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    @include at-max-width {
        width: $center-frame-max-width;
    }
}

.center-frame {
    @include center-frame;
}


.top-title {
    padding: 10px 0 18px;
    h1 {
        margin: 0;
    }
}

