


$phone-max-width: 640px;
$tablet-min-width: ($phone-max-width + 1px);
$tablet-max-width: 1024px;
$desktop-min-width: ($tablet-max-width + 1px);

// @debug "heading-font #{$heading-font}";


$screen-desktop-x: 640px;
$screen-desktop-y: 400px;
$screen-tablet-x: 480px;
$screen-tablet-y: 300px;
$screen-phone-x: 320px;
$screen-phone-y: 200px;