


$text-black: #000;
$text-white: #fff;
$text-orange: #d25b05;
$text-orange-dark: darken($text-orange, 10%);

$link-color: #46b;
$link-color-hover: darken($link-color, 10%);

$colors: (
    'light': (
        body-bg-color: #eee,
        text-color-1: $text-black,
        text-color-2: $text-orange,

        alt-scheme-bg-color: #ddd,
        alt-scheme-text-color-1: #000,
        alt-scheme-text-color-2: $text-orange-dark,
    ),
    'dark': (
        body-bg-color: #222,
        text-color-1: $text-white,
        text-color-2: $text-orange,

        alt-scheme-bg-color: #444,
        alt-scheme-text-color-1: $text-white,
        alt-scheme-text-color-2: $text-orange,
    ),
);

